# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Production build
build/
dist/

# Env files
.env
.env.local
.env.*.local

# Misc
.DS_Store

# Optional: локальные настройки редактора
.vscode/
.idea/
